@import "../node_modules/nes.css/css/nes.css";

* {
  --bg-color: #f4f4e0;
}

@font-face {
  font-family: "pixel-mplus12";
  src: url(../public/PixelMplus12-Regular.ttf);
}

body {
  font-family: "pixel-mplus12", sans-serif;
  font-size: 24px;
  background-color: var(--bg-color);
  text-align: center;
  padding: 1rem;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 960px;
  margin: 0 auto;
}

.title {
  font-size: 24px !important;
  background: var(--bg-color) !important;
  position: relative;
  top: -12px;
}

.nes-btn {
  margin: 0 16px;
}
